# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore anything with extension .out
*.out

# Ignore anything with extension .exe
*.exe

# Ignore .vscode directory
*.vscode*